<div class="col-sm-12">
  <% if address.errors.any? %>
      <ul class="list-group">
        <% address.errors.full_messages.each do |msg| %>
            <li class="list-group-item list-group-item-danger"><%= msg %></li>
        <% end %>
      </ul>
  <% end %>

  <%= form_for [:admin, user, address] do |f| %>
      <div class="form-group">
        <%= f.label :street_1, 'Street' %>
        <%= f.text_field :street_1, class: 'form-control', autofocus: true %>
      </div>

      <%= f.fields_for :city do |ff| %>
          <div class="form-group">
            <%= ff.label :name, 'City' %>
            <%= ff.text_field :name, class: 'form-control', placeholder: 'City name' %>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label 'State' %>
        <%= f.collection_select :state_id, State.all,
                                :id, :abbrev,
                                { prompt: true },
                                { class: 'form-control'}  %>
      </div>
      <div class="form-group">
        <%= f.label :post_code, 'Zip'  %>
        <%= f.text_field :post_code, class: 'form-control' %>
      </div>

      <%= f.submit class: 'btn btn-block btn-primary' %>
  <% end %>
</div>