<div class="row">
  <h1 class="col-sm-12 text-center h2">New address for <%= @user.username %></h1>
</div>

<div class="row">
  <div class="col-sm-3"><h2 class="h5">Owner ID:</h2></div>
  <div class="col-sm-9"><p class="h5"><%= @user.id %></p></div>
  <div class="col-sm-3"><h2 class="h5">Owner Name:</h2></div>
  <div class="col-sm-9"><p class="h5"><%= @user.username %></p></div>
</div>

<div class="row top-buffer">
  <div class="col-sm-12">
    <% if @address.errors.any? %>
        <ul class="list-group">
          <% @address.errors.full_messages.each do |msg| %>
              <li class="list-group-item list-group-item-danger"><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_for [:admin, @user, @address] do |f| %>
      <div class="form-group">
        <%= f.label :street_1, 'Street' %>
        <%= f.text_field :street_1, class: 'form-control', autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'State' %>
        <%= f.collection_select :state_id, State.all,
                                :id, :abbrev,
                                { prompt: true },
                                { class: 'form-control'}  %>
      </div>
      <div class="form-group">
        <%= f.label :post_code, 'Zip'  %>
        <%= f.text_field :post_code, class: 'form-control' %>
      </div>

      <%= f.submit class: 'btn btn-block btn-primary' %>
    <% end %>
  </div>
</div>