<div class="form-group">
  <%= f.label 'Shipping address', class: 'h5' %>
  <%= f.collection_select :shipping_id, user.addresses,
                          :id, :street_1,
                          { selected: user.shipping_id, prompt: true },
                          { class: 'form-control' } %>
</div>
<div class="form-group">
  <%= f.label 'Billing address', class: 'h5' %>
  <%= f.collection_select :billing_id, user.addresses,
                          :id, :street_1,
                          { selected: user.billing_id, prompt: true },
                          { class: 'form-control' } %>
</div>

<div class="form-group">
  <%= f.label 'Billing card', class: 'h5' %>
  <%= f.collection_select :credit_card_id, credit_cards,
                          :id, :discreet_number,
                          { prompt: true },
                          { class: 'form-control' } %>
</div>