<table class="table table-striped table-bordered">
  <thead class="thead-default">
    <th>ID</th>
    <th>UserID</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Total Value</th>
    <th>Status</th>
    <th>Date Placed</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to order.user.id, admin_user_path(order.user) %></td>
        <td><%= order.shipping_address.street_1 %></td>
        <td><%= order.shipping_address.city.name %></td>
        <td><%= order.shipping_address.state.abbrev %></td>
        <td><%= number_to_currency(order.total) %></td>
        <td class="text-uppercase <%= order.status_css %>">
          <%= order.status_text %>
        </td>
        <td><%= order.date_placed %></td>
        <td><%= link_to 'show', admin_user_order_path(order.user, order) %></td>
        <td><%= link_to 'edit', edit_admin_user_order_path(order.user, order) %></td>
        <td>
          <%= link_to 'delete',
                      admin_user_order_path(order.user, order),
                      method: :delete,
                      data: {
                          confirm: 'Ya sure?'
                      }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>