
<%= form_for @user do |f| %>

  <% if flash[:error] %>
    <div>
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= f.label :username, "User name" %>
  <%= f.text_field :username %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email, value: "example@email.com" %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>

  <%= f.submit "Create" %>
<% end %>