<div class="row">
  <div class="col-12">

    <h2>Business Class form_tag Form - slightly more professional</h2>

    <%= form_tag(users_path, method: :post) do %>

      <div class="form-group">
        <%= label_tag(:username, "User name:") %>
        <%= text_field_tag(:username) %>

        <%= label_tag(:password, "Password:") %>
        <%= password_field_tag(:password) %>

        <%= label_tag(:email, "Email:") %>
        <%= email_field_tag(:email) %>

        <%= submit_tag("Submit", class: "btn btn-primary")%>
      </div>

    <% end %>

  </div>
</div>
