<h1>Form_tag</h1>

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username") %>
<<<<<<< HEAD
  <%= text_field_tag("user[username]") %>

  <%= label_tag(:email, "Email") %>
  <%= email_field_tag("user[email]") %>

  <%= label_tag(:password, "Password") %>
  <%= password_field_tag("user[password]") %>

  <%= submit_tag("Create") %>

=======
  <%= text_field_tag(:username) %>

  <%= label_tag(:email, "Email") %>
  <%= email_field(:user, :email) %>

  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>

  <%= submit_tag("Create") %>
>>>>>>> a6941dfb7db6bcddbbdd46963f0f0005814fe338
<% end %>