<p>HTML</p>
<form action="<%= path %>" method="post" accept-charset="UTF-8">
  <% if method %>
    <input type="hidden" name="_method" value="<%= method %>"/>
  <% end %>
  <label for="user_username">Username</label>
  <input id="user_username" type="text" name="user[username]" value="<%= user.username %>"/>
  <label for="user_email">Email</label>
  <input id="user_email" type="email" name="user[email]" value="<%= user.email %>"/>
  <label for="user_password">Password</label>
  <input id="user_password" type="password" name="user[password]"/>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <button type="submit">Submit</button>
</form>

<hr/>

<p>Form Tag</p>
<%= form_tag(path, :method => method ? method : 'post', :authenticity_token => form_authenticity_token) do %>
  <%= label_tag('user_username', 'Username') %>
  <%= text_field_tag('user[username]', user.username, ) %>
  <%= label_tag('user_email', 'Email') %>
  <%= email_field_tag('user[email]', user.email) %>
  <%= label_tag('user_password', 'Password') %>
  <%= password_field_tag('user[password]', nil) %>
  <%= submit_tag('Submit') %>
<% end %>

<hr/>

<p>Form For</p>
<%= form_for(user) do |f| %>
  <%= f.label(:username) %>
  <%= render :partial => 'shared/errors', :locals => {:object => user, :field => :username} %>
  <%= f.text_field(:username) %>
  <%= f.label(:email) %>
  <%= render :partial => 'shared/errors', :locals => {:object => user, :field => :email} %>
  <%= f.email_field(:email) %>
  <%= f.label(:password) %>
  <%= render :partial => 'shared/errors', :locals => {:object => user, :field => :password} %>
  <%= f.password_field(:password) %>
  <%= f.submit %>
<% end %>
