<h3>Blinged-Out Artisanal Paleo Gluten-free Form_For</h3>
<%= form_for @user do |f| %>
  <%= f.label :email, 'Enter your email:' %>
  <%= f.email_field :email, placeholder: 'email@email.com' %>

  <%= f.label :username, 'This is a custom label.' %>
  <%= f.text_field :username, value: 'guest' %>

  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password %>

  <%= f.submit 'Create User' %>
<% end %>