<% if user.errors.any? %>
  <ul>
    <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label>
    Username
    <input type="text" name="user[username]">
  </label>
  <label>
    Email
    <input type="text" name="user[email]">
  </label>
  <label>
    Password
    <input type="password" name="user[password]">
  </label>
  <input type="submit">
</form>

<%= form_tag("/users", :method => "post") do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>

<%= form_for user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: "Your user name here", value: "Anonymous" %>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "e@mail.com" %>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Your user name here" %>
  <%= f.submit %>
<% end %>