<h2>the form for way</h2>
<%= form_for @user do |f| %>
  <%= f.label :username, 'username' %>
  <%= f.text_field :username%>
  <%= f.label :email%>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%=  f.submit 'submit' %>
<% end %>

<%= field_with_errors(@user, :username) %>
<%= field_with_errors(@user, :email) %>
<%= field_with_errors(@user, :password) %>