<h1>Edit User</h1>
<%= form_for @user  do |f| %>

  Username: <%= f.text_field :username, placeholder: 'Enter Username Here...' %><br>
  Email: <%= f.text_field :email, placeholder: 'Enter Email Here...' %><br>
  Password: <%= f.password_field :password, placeholder: 'Enter Password Here...' %><br>
  <%= f.submit "Update User", class: "btn btn-primary"%>
<% end %>
