<h1>Form_for</h1>

<%= form_for @user do |f| %>

<% unless @user.errors.empty? %>
	<div class="error">
		<%= @user.errors[:username].first %>
    </div>
<%end%>
	<%= f.label :username %>
	<%= f.text_field :username,  value: @user.username %>

<br>

<% unless @user.errors.empty? %>
	<div class="error">
		<%= @user.errors[:email].first %>
    </div>
<%end%>
  <%= f.label :email %>
  <%= f.email_field :email, value: @user.email%>

<br>

<% unless @user.errors.empty? %>
	<div class="error">
		<%= @user.errors[:password].first %>
    </div>
<%end%>
  <%= f.label :password %>
  <%= f.password_field :password, value: @user.password%>

  <%= f.submit "Edit" %>
<% end %>


