<h1>Edit</h1>
<%= form_for @user do |f| %>
  <%= f.label :email, "Enter your email: " %>
  <%= f.email_field :email, placeholder: "email@email.com" %>
  <%= f.label :username, "This is a custom label." %>
  <%= f.text_field :username, value: :guest %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit %>
<% end %>