<% if @user.errors.any? %>
	<div id="error_explain">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this edit from being saved:</h2>

		<ul>
		    <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		</ul>

	</div>
<% end %>


<%= form_for(@user) do |f| %>
	<%= f.label :username, "Username:" %>
	<%= f.text_field :username %>

	<%= f.label :email, "Email:"  %>
	<%= f.text_field :email %>

	<%= f.label :password, "Password:" %>
	<%= f.password_field :password %>

	<%= f.submit "Submit!" %>

<% end %>