<%= link_to "Create a new user", new_user_path %>
<h1> All the users!</h1>
<% @users.each do |user| %>
  <%= user.username %>
  <%= user.password %>
  <%= user.email %>
  <%= link_to "Show user", user_path(user) %>
<% end %>