Hello, world!

<form method="post" action="/users">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <label>
    Name
    <input name="user[username]" type="text" value="<%= @user.username %>" />
  </label>
  <label>
    Email
    <input name="user[email]" type="email"  value="<%= @user.email %>" />
  </label>
  <label>
    Password
    <input name="user[password]" type="password" />
  </label>
  <input type="submit" value="Submit!" />

</form>

<%= form_tag("/users", method:"post") do %>
  <%= label_tag(:username, "Name") %>
  <%= text_field_tag(:username, @user.username) %>
  <%= label_tag(:email, "Email") %>
  <%= email_field_tag(:email, @user.email) %>
  <%= label_tag(:password, "Passowrd") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit!") %>
<% end %>
  