<h1>Hello world! Make a new user in 3 magical ways!</h1>

<h2>Rugged Orginal HTML Form</h2>
<form action="/users" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="email">Email:</label>
  <input type="text" id="user_email" name="user[email]" />

  <label for="username">Username:</label>
  <input type="text" id="user_username" name="user[username]" />

  <label for="password">Password:</label>
  <input type="password" id="user_password" name="user[password]" />
  <input type="submit">
</form>

<h2>Business-Class Form-Tag</h2>
<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>