<h1> New Users Page </h1>


<form action="/users" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" 
        value="<%= form_authenticity_token %>">
  <label> Username       
    <input type="text" name="[user][username]">
  </label>
  <label for="email"> Email </label>
  <input id="email" type="text" name="[user][email]">
  <label for="password"> Password </label>
  <input id="password" type="password" name="[user][password]">

  <button type="submit">Create Account</button>
</form>  




<%= form_tag("/users", method: "post") do %>
  <%= label_tag("user[username]", "username") %>
  <%= text_field_tag("user[username]") %>
  <%= label_tag("user[email]", "email") %>
  <%= text_field_tag("user[email]") %>
  <%= label_tag("user[password]", "password") %>
  <%= password_field_tag("user[password]") %>
  <%= submit_tag("Create Account") %>
<% end %>

