<%= link_to "Index of Users", users_path %>
<% unless @user.errors.empty? %>
  <% @user.errors.full_messages.each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>
<% end %>

<h1>Hello world! This is the New template</h1>
<form action="/users" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="username">
    Username:
  </label>
  <input type="text" id="username" name="user[username]">

  <label for="email">
    Email:
  </label>
  <input type="email" id="email" name="user[email]">

  <label for="password">
    Password:
  </label>
  <input type="password" id="password" name="user[password]">

  <input type="submit" name="submit">
</form>


<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>

  <%= label_tag(:email, "Email") %>
  <%= email_field_tag(:email) %>

  <%= label_tag(:password, "Password")%>
  <%= password_field_tag(:password) %>

  <%= submit_tag("Submit-yo") %>
<% end %>


<%= form_for @user do |f|%>
  <%= f.label "Your username here"%>
  <%= f.text_field :username %>
  <%= f.label @user.errors[:username].first, class: "error" unless @user.errors[:username].empty? %>

  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "admin@example.com" %>
  <%= f.label @user.errors[:email].first, class: "error" unless @user.errors[:email].empty? %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label @user.errors[:password].first, class: "error" unless @user.errors[:password].empty? %>

  <%= f.submit 'Submit-yo-yo-yo' %>
<% end %>
