<h1>USERS NEW FORM PAGE</h1>

<h2>HTML FORM</h2>

<form method="post" action="/users" accept-charset="UTF-8">
  <label>Username</label>
  <input type="text" name="user[username]">

  <label>Email</label>
  <input type="email" name="user[email]">

  <label>Password</label>
  <input type="password" name="user[password]">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <button type="submit">Submit!</button>

</form>

<h2>FORM TAG FORM</h2>

<%= form_tag ('/users') do %>
  <%= label_tag("Your Username Here") %>
  <%= text_field_tag('username', 'username')%>
  <%= label_tag("Your Email Here") %>
  <%= email_field_tag('email', 'email@example.com') %>
  <%= label_tag("Your Password Here") %>
  <%= password_field_tag('password', 'something') %>

  <%= submit_tag('Submit!')%>

<% end %>

<h2>FORM FOR FORM</h2>

<%= form_for @user do |u| %>
  Your Username Here: 
  <%= u.text_field :username, placeholder: "username" %> 
  Your Email Here: 
  <%= u.email_field :email, placeholder: "email" %>
  Your Password Here: 
  <%= u.password_field :password, placeholder: "password" %>
  
  <%= u.submit 'Submit!' %>
<% end %>