<h1>Hello, world</h1>
<p>Find me in app/views/users/new.html.erb</p>

<!-- <form action="/users" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" name="user[username]"><br>
  <label for="email">Email:  </label>
  <input type="text" name="user[email]"></br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]"><br>
  <input type="submit">
</form> -->

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag("user[username]") %>
  <%= label_tag(:email, "email:") %>
  <%= email_field_tag("user[email]") %>
  <%= label_tag(:password, "password:") %>
  <%= password_field_tag("user[password]") %>
  <%= submit_tag("submit") %>
<% end %>
