<h1>Create New User - Basic Form</h1>

<%= @message %>
<form accept-charset="utf8" action="/users" method="post">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
	<label>
		Email: 
		<input type="text" id="email" name="user[email]" />
	</label>
	<br>
	<br>
	<label>
		Username: 
		<input type="text" id="username" name="user[username]" />
	</label>
	<br>
	<br>
	<label>
		Password: 
		<input type="password" id="password" name="user[password]" />
	</label>
	<br>
	<br>
	<input type="submit" value="Create">
</form>

<br>

<h1>Create New User - Form Tag Edition</h1>

<%= form_tag("/users", method: "post") do %>
	<%= label_tag(:user_email, "Email: ") %>
	<%= text_field_tag :email %>
	<br>
	<br>
	<%= label_tag(:user_username, "Username: ") %>
	<%= text_field_tag :username %>
	<br>
	<br>
	<%= label_tag(:user_password, "Password: ") %>
	<%= password_field_tag :password %>
	<br>
	<br>
	<%= submit_tag("Create") %>
<% end %>

<br>

<h1>Create New User - Form For Edition</h1>

<%= form_for @user do |f| %>
	<%= f.label :email, "Email: " %>
	<%= f.text_field :email %>
	<br>
	<br>
	<%= f.label :username, "Username: " %>
	<%= f.text_field :username %>
	<br>
	<br>
	<%= f.label :password, "Password: " %>
	<%= f.password_field :password %>
	<br>
	<br>
	<%= f.submit "Create" %>
<% end %>
