<%= render partial: "plainform" %>
<%= render partial: "formtag" %>

<h1>Form_for</h1>

<%= form_for do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Submit" %>
<% end %>