Hello WOrld, Make a user in 3 different ways
<div> Crappy way
  <form action="/users" method="post">
    <input type="hidden" accept-charset="UTF-8" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <label for="username">Username:
        <input type="text" name="username"/>
      </label>
      <label for="email">Email:
        <input type="text" name="email"/>
      </label>
      <label for="password">Password:
        <input type="password" name="password"/>
      </label>
    <input type="submit" value="submit" />
  </form>
</div>
</br>
<div>
  Form Tag Way
  <%= form_tag "/users", method: 'POST' do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
</br>
<div>
  Form For Way
  <%= form_for @user do |f| %>
    <%=  f.label :username, "Username:" %>
    <%= f.text_field :username %>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
    <%= f.submit %>
  <% end %>
</div>
