<h1>Hello, world!</h1>

<p id="notice"><%= flash[:notice] %></p>

<form accept-charset="UTF-8" action = "/users" method ="post">
  <label for="email">
    Email:
  </label>
  <input type = "email" id = "email" name = "[user][email]"/>
  <label>
    Username: 
    <input type = "text" id = "username" name = "[user][username]"/>
  </label>
  <label>
    Password: 
    <input type = "password" id = "password" name = "[user][password]"/>
  </label>
  <input type="hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
  <input type = "submit" id = "new-user-submit" name ="[user][submitted]"/>
</form>

<%= form_tag "/users" do %>
  <%= label_tag "email" %>
  <%= email_field_tag "email" %>
  
  <%= label_tag "username" %>
  <%= text_field_tag "username" %>
  
  <%= label_tag "password" %>
  <%= password_field_tag "password" %>
  
  <%= submit_tag %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :email, "Enter your email: " %>
  <%= f.email_field :email, placeholder: "email@email.com" %>
  <%= f.label :username, "This is a custom label." %>
  <%= f.text_field :username, value: :guest %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit %>
<% end %>