<form action="/users" method="POST">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" type="hidden">

  <label for="user_username">Username</label>
  <input type="text" name="user[username]" id="user_username">
  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">
  <label for="user_email">Email</label>
  <input type="text" name="user[email]" id="user_email">
  <input type="submit" value="Create User">
</form>



<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:user_username, "User Name") %>
  <%= text_field_tag('user[username]', nil, id:'user_username')%>
  <%= label_tag(:user_password, "Password") %>
  <%= password_field_tag('user[password]', nil, id:'user_password') %>
  <%= label_tag(:user_email, "Email") %>
  <%= text_field_tag('user[email]', nil, id:'user_email') %>
  <%= submit_tag("Create User") %>
<% end %>
