<h1>Create A New User!</h1>
<%= link_to "Back to Index", users_path, class: "btn btn-primary" %>

<!-- Basic HTML Form -->
<h3>Basic HTML Form</h3>
<form accept-charset="UTF-8" action="/users" method="post">
  <input name="utf8" type="hidden" value="✓" >
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input name="user[username]" type="text" placeholder="Enter Username Here...">
  <br>
  <label for="email">Email:</label>
  <input name="user[email]" type="text" placeholder="Enter Email Here...">
  <br>
  <label for="password">Password:</label>
  <input name="user[password]" type="password" placeholder="Enter Password Here...">
  <br>
  <button type="submit" name="create_new_user" class="btn btn-primary">
    Create New User
  </button>
</form>

<br>
<br>

<!-- form_tag Form -->
<h3>Form_Tag Form</h3>
<%= form_tag '/users'  do %>
  <%= label_tag 'username', 'Username:'  %>
  <%= text_field_tag 'username', nil, placeholder: 'Enter Username Here...' %>
  <br>
  <%= label_tag 'email', 'Email:'  %>
  <%= text_field_tag 'email', nil, placeholder: 'Enter Email Here...' %>
  <br>
  <%= label_tag 'password', 'Password:' %>
  <%= password_field_tag 'password', nil, placeholder: 'Enter Password Here...' %>
  <br>
  <%= submit_tag 'Create New User', class: 'create_new_user btn btn-primary'%>
<% end %>

<br>
<br>

<!-- form_for Form -->
<h3>Form_For Form</h3>
<%= form_for @user  do |f| %>
  <%= f.label :username %>
  <%= display_user_errors(@user, :username) %>
  <%= f.text_field :username, placeholder: 'Enter Username Here...' %><br>
  <%= f.label :email %>
  <%= display_user_errors(@user, :email) %>
  <%= f.text_field :email, placeholder: 'Enter Email Here...' %><br>
  <%= f.label :password %>
  <%= display_user_errors(@user, :password) %>
  <%= f.password_field :password, placeholder: 'Enter Password Here...' %><br>
  <%= f.submit "Create New User",  class: "btn btn-primary"%>
<% end %>
