<%= form_for @user do |f| %>

	<%= f.label :username %>:
	<%= f.text_field :username, placeholder: 'Enter Username' %> <br />

	<%= f.label :email %>:
	<%= f.text_field :email, placeholder: 'my@email.com' %> <br />

	<%= f.label :password %>:
	<%= f.text_field :password, placeholder: 'Enter Password' %> <br />

	<%= f.submit %>

<% end %>






<!--
<form accept-charset="UTF-8" action="/users" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>


  <div>

    <label class="string required" for="username">
      Username:
    </label>

    <input type="text" id="username" name="username">

  </div>

  <div>

    <label class="string required" for="user_email">
      Email:
    </label>

    <input type="text" id="user_email" name="email">

  </div>


  <div>

    <label class="string required" for="password">
      Password:
    </label>

    <input type="password" id="password" name="password">

  </div>

  <div>
  	<input type="Submit" value="Create User">

</form>
-->