
<%= render partial: "plainform" %>
<%= render partial: "formtag" %>

<h1>Form_for</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username,  placeholder: "Your name" %>
<br>
  <%= f.label :email %>
  <%= f.email_field :email, value: "example@example.com" %>
<br>
  <%= f.label :password %>
  <%= f.password_field :password, value: "samplepassword" %>

  <%= f.submit "Create" %>
<% end %>

