<%= render partial: "plainform" %>
<%= render partial: "formtag" %>

<h1>Form_for</h1>

<%= form_for do |f| %>
  <%= f.label :username %>
  <%= f.string :username %>

  <%= f.label :email %>
  <%= f.string :email %>

  <%= f.label :password %>
  <%= f.string :password %>

  <%= f.submit "Submit" %>
<% end %>