<h1>User info:</h1>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Password: </strong><%= @user.password %></p>
<%= link_to "delete", user_path(@user), method: :delete, data: {confirm: "Really delete this user?"} %><br />
<%= link_to "edit", edit_user_path(@user) %><br />
<%= link_to "<< Back to User List", users_path %>