<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<!-- Regular Form -->
<form accept-charset="UTF-8" action="/users" method="post">
  <div style="margin:0; padding:0; display:inline">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
  </div>
  <div>
    <label class="string required" for="user_email">
      Email:
    </label>
    <input type="text" id="user_email" name="user[email]"><br>
    <label class="string required" for="user_username">
      Name:
    </label>
    <input type="text" id="user_username" name="user[username]"><br>
    <label class="string required" for="user_password">
      Password:
    </label>
    <input type="password" id="user_password" name="user[password]"><br>
    <input type="submit">
  </div>
</form>

<!-- form_tag Form -->
<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:user_email, "Email: ") %>
  <%= text_field_tag(:user_email) %><br>
  <%= label_tag(:user_username, "Username: ") %>
  <%= text_field_tag(:user_username) %><br>  
  <%= label_tag(:user_password, "Password: ") %>
  <%= password_field_tag(:password, "Type password") %><br>
  <%= submit_tag("Submit") %>
<% end %>

<!-- form_for Form -->
<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit "Submit" %>
<% end %>


