<div class="row top-buffer">
  <div class="col-sm-12">
    <% if @product.errors.any? %>
        <ul class="list-group">
          <% @product.errors.full_messages.each do |msg| %>
              <li class="list-group-item list-group-item-danger"><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_for [:admin, @product] do |f| %>
        <div class="form-group">
          <%= f.label :id, 'Product ID' %>
          <%= f.text_field :id,
                           class: 'form-control',
                           readonly: true,
                           placeholder: f.object.available_id %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Category' %>
          <%= f.collection_select :category_id, Category.all,
                                  :id, :name,
                                  { prompt: true },
                                  { class: 'form-control'}  %>
        </div>

        <%= f.submit class: 'btn btn-block btn-primary' %>
    <% end %>
  </div>
</div>