<div class="row top-buffer">
  <h1 class="col-sm-12 h2">
    Product information
  </h1>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><h3 class="h5">Product ID:</h3></div>
  <div class="col-sm-4"><h3 class="h5"><%= @product.id %></h3></div>
</div>

<div class="row">
  <div class="col-sm-3"><h3 class="h5">Name:</h3></div>
  <div class="col-sm-4"><h3 class="h5"><%= @product.name %></h3></div>
</div>

<div class="row">
  <div class="col-sm-3"><h3 class="h5">Price:</h3></div>
  <div class="col-sm-4"><h3 class="h5"><%= @product.price %></h3></div>
</div>

<div class="row">
  <div class="col-sm-3"><h3 class="h5">Category:</h3></div>
  <div class="col-sm-4"><h3 class="h5"><%= @product.category.name %></h3></div>
</div>

<div class="row top-buffer">
  <h1 class="col-sm-12 h2">
    Product statistics
  </h1>
</div>

<div class="row">
  <div class="col-sm-3"><h3 class="h5">Times ordered</h3></div>
  <div class="col-sm-4"><h3 class="h5">place holder</h3></div>
</div>

<div class="row">
  <div class="col-sm-3"><h3 class="h5">carts in</h3></div>
  <div class="col-sm-4"><h3 class="h5">place holder</h3></div>
</div>

<div class="row top-buffer">
  <div class="col-sm-4">
    <%= link_to 'Edit product', edit_admin_product_path %>
    <br>
    <%= link_to 'Delete product',
                admin_product_path(@product),
                method: :delete,
                data: {
                    confirm: 'You sure you wanna delete this product, buddy?'
                } %>
  </div>
</div>