<div class="row top-buffer">
  <h1 class="col-sm-12 h2 text-center">Viking Store users</h1>
</div>

<div class="row top-buffer">
  <div class="col-sm-12">
    <%= link_to 'Create a new user',
                new_admin_user_path,
                class: 'btn btn-block btn-primary',
                role: 'button' %>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-sm-12">
    <table class="table-striped table-bordered">
      <thead class="thead-default">
      <th>ID</th>
      <th>Name</th>
      <th>Joined</th>
      <th>City</th>
      <th>State</th>
      <th>Orders</th>
      <th>Last order date</th>
      <th>SHOW</th>
      <th>EDIT</th>
      <th>DELETE</th>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.full_name %></td>
            <td><%= user.signup_date %></td>
            <td></td>
            <td></td>
            <td><%= link_to '1', '#' %></td>
            <td></td>
            <td><%= link_to 'show', admin_user_path(user) %></td>
            <td><%= link_to 'edit', edit_admin_user_path(user) %></td>
            <td><%= link_to 'delete',
                            admin_user_path(user),
                            method: :delete,
                            data: {
                                confirm: 'You sure you wanna delete this category, my friend?'
                            } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>