<div class="row top-buffer">
  <h1 class="col-sm-12 h2 text-center">New User</h1>
</div>

<div class="row top-buffer border border-dark rounded">
  <div class="col-sm-12 top-buffer">
    <h2 class="h3 text-center"><u>Demographic information</u></h2>
  </div>

  <div class="col-sm-12">
    <% if user.errors.any? %>
        <ul class="list-group">
          <% user.errors.full_messages.each do |msg| %>
              <li class="list-group-item list-group-item-danger"><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_for [:admin, user] do |f| %>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name,
                           class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :phone, 'Telephone' %>
          <%= f.text_field :phone, class: 'form-control' %>
        </div>

        <%= f.submit class: 'btn btn-block btn-primary' %>
    <% end %>
  </div>
</div>