<div class="row top-buffer">
  <h1 class="col-sm-12 h2 text-center">
    User <%= user.id %>: <%= user.full_name %>
  </h1>
</div>

<div class="row top-buffer border border-dark rounded">
  <div class="col-sm-12">
    <h2 class="h3 text-center"><u>Demographic information</u></h2>
  </div>

  <div class="col-sm-3 top-buffer"><h3 class="h5">First name:</h3></div>
  <div class="col-sm-9 top-buffer"><p><%= user.first_name %></p></div>
  <div class="col-sm-3"><h3 class="h5">Last name:</h3></div>
  <div class="col-sm-9"><p><%= user.last_name %></p></div>
  <div class="col-sm-3"><h3 class="h5">Email:</h3></div>
  <div class="col-sm-9"><p><%= user.email %></p></div>
  <div class="col-sm-3 top-buffer"><h3 class="h5">Telephone:</h3></div>
  <div class="col-sm-9 top-buffer"><p><%= user.phone %></p></div>

  <div class="col-sm-12">
    <h3 class="h5">Default billing address:</h3>
    <p><%= user.show_billing_address %></p>
  </div>
  <div class="col-sm-12">
    <h3 class="h5">Default shipping address:</h3>
    <p><%= user.show_shipping_address %></p>

    <ul class="list-unstyled">
      <li><%= link_to "Edit #{user.full_name}'s information", edit_admin_user_path(user) %></li>
      <li><%= link_to "Delete #{user.full_name}",
                      admin_user_path(user),
                      method: :delete,
                      data: {
                          confirm: "You sure you want to delete user #{user.full_name}?"
                      } %>
      </li>
      <li><%= link_to 'View saved addresses', admin_user_addresses_path(user) %></li>
      <li><%= link_to 'View unplaced order (Cart)', '#' %></li>
    </ul>
  </div>
</div>

<div class="row top-buffer border border-dark rounded">
  <div class="col-sm-12">
    <h2 class="h3 text-center"><u>Credit card information</u></h2>
  </div>

  <div class="col-sm-3 top-buffer"><h3 class="h5">First name:</h3></div>
  <div class="col-sm-9 top-buffer"><p><%= user.first_name %></p></div>
  <div class="col-sm-3"><h3 class="h5">Last name:</h3></div>
  <div class="col-sm-9"><p><%= user.last_name %></p></div>

  <div class="col-sm-3"><h3 class="h5">Number:</h3></div>
  <div class="col-sm-9"><p>(hardcoded) 1234 5678 9012 3456</p></div>
  <div class="col-sm-3"><h3 class="h5">Expiration:</h3></div>
  <div class="col-sm-9"><p>(hardcoded) 2016-09-30</p></div>
  <div class="col-sm-3"><h3 class="h5">CV2:</h3></div>
  <div class="col-sm-9"><p>(hardcoded) 123</p></div>

  <div class="col-sm-12"><%= link_to 'Remove card', '#' %></div>
</div>

<div class="row top-buffer border border-dark rounded">
  <div class="col-sm-12">
    <h2 class="h3 text-center"><u>Admin actions for <%= user.full_name %></u></h2>
  </div>

  <div class="col-sm-12 top-buffer">
    <%= link_to 'Create order',
                '#',
                class: 'btn btn-block btn-primary',
                role: 'button' %>
    <%= link_to 'Create address',
                '#',
                class: 'btn btn-block btn-primary',
                role: 'button' %>
  </div>
</div>

<div class="row top-buffer border border-dark rounded">
  <div class="col-sm-12">
    <h2 class="h3 text-center"><u>Order history</u></h2>
  </div>
  <div class="col-sm-12">
    <table class="table-striped table-bordered">
      <caption>Hardcoded data</caption>
      <thead class="thead-default">
      <th>ID</th>
      <th>Order date</th>
      <th>Order value</th>
      <th>Status</th>
      <th>SHOW</th>
      <th>EDIT</th>
      <th>DELETE</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2017-08-31</td>
          <td>$150</td>
          <td>PLACED</td>
          <td><%= link_to 'show', '#' %></td>
          <td><%= link_to 'edit', '#' %></td>
          <td><%= link_to 'delete',
                          '#',
                          method: :delete,
                          data: {
                              confirm: 'Delete order?'
                          } %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>