<!DOCTYPE html>
<html>
<head>
  <title>Reformer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash.empty? %>
  <% flash.keys.each do |flash_key| %>
		<p class="<%= flash_key %>"><%= flash[flash_key] %></p>
  <% end %> 
<% end %>

<%= yield %>

</body>
</html>
