<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Reformer</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <style>
      .field_with_errors input {
        border: 1px solid red;
      }
    </style>
  </head>
  <body>

    <header>
      <h1>
        <%= link_to('Reformer', root_url) %>
      </h1>
      <nav>
        <ul>
          <li>
            <%= link_to('+ New User', new_user_path) %>
          </li>
        </ul>
      </nav>
    </header>

    <%= render :partial => 'shared/flash' %>

    <%= yield %>

  </body>
</html>
