<!DOCTYPE html>
<html>
<head>
  <title>Reformer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |type, message| %>
  <h2><%= type %>! <%= message %></h2>
<% end %>

<%= yield %>

</body>
</html>
